<main class="grid-view" style="flex-wrap: wrap">
    <article class="card">
        <figure class="img">
            <img src="assets/img/guitar.png" class="img" />
        </figure>
        <h1>This is an item I wish to sell</h1>
        <h2>It has this, and that, and that also</h2>
        <section class="actions grid-view grid-view--has-floor">
            <button class="button is-rounded is-warning">Details</button>
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg>
            <div>
                <p>Hello</p>
                <p>Hi</p>
            </div>
        </section>
    </article>

    <article class="card">
        <figure class="img">
            <img src="assets/img/guitar.png" class="img" />
        </figure>
        <h1>This is an item I wish to sell</h1>
        <h2>It has this, and that, and that also</h2>
        <section class="actions grid-view grid-view--has-floor">
            <button class="button is-rounded is-warning">Details</button>
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg>
            <div>
                <p>Hello</p>
                <p>Hi</p>
            </div>
        </section>
    </article>

    <article class="card">
        <figure class="img">
            <img src="assets/img/guitar.png" class="img" />
        </figure>
        <h1>This is an item I wish to sell</h1>
        <h2>It has this, and that, and that also</h2>
        <section class="actions grid-view grid-view--has-floor">
            <button class="button is-rounded is-warning">Details</button>
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg>
            <div>
                <p>Hello</p>
                <p>Hi</p>
            </div>
        </section>
    </article>

    <article class="card">
        <figure class="img">
            <img src="assets/img/guitar.png" class="img" />
        </figure>
        <h1>This is an item I wish to sell</h1>
        <h2>It has this, and that, and that also</h2>
        <section class="actions grid-view grid-view--has-floor">
            <button class="button is-rounded is-warning">Details</button>
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg>
            <div>
                <p>Hello</p>
                <p>Hi</p>
            </div>
        </section>
    </article>

    <article class="card">
        <figure class="img">
            <img src="assets/img/guitar.png" class="img" />
        </figure>
        <h1>This is an item I wish to sell</h1>
        <h2>It has this, and that, and that also</h2>
        <section class="actions grid-view grid-view--has-floor">
            <button class="button is-rounded is-warning">Details</button>
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg>
            <div>
                <p>Hello</p>
                <p>Hi</p>
            </div>
        </section>
    </article>

    <article class="card">
        <figure class="img add-box">
            <svg class="add-icon">
                <use xlink:href="#icon-add_circle"></use>
            </svg>
            <figcaption><strong>add</strong></figcaption>
        </figure>
    </article>
</main>

<div class="v-separator"></div>

<aside class="container container--padded">
    <article class="card">
        <figure class="img">
            <img src="assets/img/guitar.png" class="img" />
        </figure>
        <h1>This is an item I wish to sell</h1>
        <h2>It has this, and that, and that also</h2>
        <section class="actions grid-view grid-view--has-floor">
            <button class="button is-rounded is-warning">Details</button>
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg>
            <div>
                <p>Hello</p>
                <p>Hi</p>
            </div>
        </section>
    </article>

</aside>