<section class="container grid-view">
    <article class="card">
        <figure class="img">
            <img src="assets/img/guitar.png" class="img" />
        </figure>
        <h1>This is an item I wish to sell</h1>
        <h2>It has this, and that, and that also</h2>
        <section class="actions grid-view has-floor">
            <button class="button is-rounded is-warning">Details</button>
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg>
            <div>
                <p>Hello</p>
                <p>Hi</p>
            </div>
        </section>
    </article>

    <article class="card">
        <img src="assets/img/guitar.png" class="img" />
        <h1>This is an item I wish to sell</h1>
    </article>

    <article class="card">
        <img src="assets/img/guitar.png" class="img" />
        <h1>This is an item I wish to sell</h1>
    </article>
</section>