@import "src/variables";

.card {
    $radius: 12px;

    border: 1px solid $grey-light;
    margin: $spc1 $spc0 / 2;
    background-color: transparent;
    border-radius: $radius;
    padding-bottom: $rspc0;
    transition: transform 0.2s ease;

    @media (min-width: 35em) {
        flex: {
            basis: 30%;
            grow: 0;
        }
    }

    &:hover {
        transform: scale(1.15);
    }

    .img {
        border-radius: $radius $radius 0 0;
        margin-top: -2px;
    }

    .img~* {
        padding: {
            left: $rspc0;
            right: $rspc0;
        }
    }
}

.actions {
    margin-top: $rspc0;

    .svg-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    * {
        flex: {
            basis: 40%;
            grow: 1;
        }
    }
}

.add-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    figcaption {
        font-size: 3em;
    }

    .add-icon {
        stroke: currentColor;
        fill: currentColor;
        margin-top: $rspc1;
        width: 100%;
    }
}