@import "src/variables";

.container {
    margin: $spc1 auto;
    padding: $spc1 3 * $spc1;
}

@mixin curve {
    border-radius: 20px;
}

.card {
    $radius: 12px;

    border: 1px solid $grey-light;
    background-color: transparent;
    margin: $spc1;
    border-radius: $radius;
    padding-bottom: $rspc0;
    flex: {
        basis: 40%;
        grow: 1;
    }

    .img {
        border-radius: $radius $radius 0 0;
        margin-top: -2px;
    }

    .img ~ * {
        padding: {
            left: $rspc0;
            right: $rspc0;
        }
    }
}

.actions {
    margin-top: $rspc0;

    .svg-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    * {
        flex: {
            basis: 40%;
            grow: 1;
        }
    }
}
