<div #burger class="burger" (click)="menuClicked()">
    <div class="burger__beef"></div>
</div>

<ul #navList class="nav__list">
    <li class="nav__item">
        <a href="/1" class="nav__link">
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg></a>
    </li>
    <li class="nav__item">
        <a href="/2" class="nav__link">
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg></a>
    </li>
    <li class="nav__item">
        <a href="/3" class="nav__link">
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg></a>
    </li>
    <li class="nav__item">
        <a href="/4" class="nav__link">
            <svg class="svg-icon">
                <use xlink:href="#icon-sd_storage"></use>
            </svg></a>
    </li>
</ul>