@import "variables";
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/breadcrumb.sass";
@import "node_modules/bulma/sass/components/dropdown.sass";
@import "node_modules/bulma/sass/components/media.sass";
@import "node_modules/bulma/sass/components/message.sass";
@import "node_modules/bulma/sass/components/modal.sass";
@import "node_modules/bulma/sass/components/pagination.sass";
@import "node_modules/bulma/sass/components/panel.sass";
@import "node_modules/bulma/sass/components/tabs.sass";

body {
    font-size: calc(1vw + 0.6em);
}

@media (min-width: 48rem) {
    body {
        font-size: calc(1vw + 0.4em);
    }
}

img {
    max-width: 100% !important;
}

.svg-icon {
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.grid-view {
    display: flex;
    &.has-floor {
        align-items: flex-end;
    }
}
